* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: linear-gradient(100deg, #424E7D, #5325d32f);
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal de la sección */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.seccion-perfil {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Título y subtítulo */
.seccion-perfil h2 {
    text-align: center;
    font-size: 36px;
    color: #FCCA6B;
    margin-bottom: 15px;
}

.seccion-perfil p {
    font-weight: auto;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
}

/* Formulario */
.formulario-informacion {
    margin-top: 20px;
}

.grupo-formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.grupo-formulario label {
    font-weight: auto;
    color: #ffffff;
    font-size: 16px;
    text-align: left;
}

.grupo-formulario input, .grupo-formulario select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: #424E7D;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.grupo-formulario input:focus, .grupo-formulario select:focus {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
}

/* Botón de aplicar */
.boton-aplicar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #424E7D;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.boton-aplicar:hover {
    background-color: #5563c1;
    transform: scale(1.05);
}

.back-to-home {
    display: block;
    text-align: center;
    margin-top: 40px;
    text-decoration: none;
    color: #fff;
}

.back-to-home:hover {
    color: #ddd;
}
