*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

body {
    background: linear-gradient(100deg, #424E7D, #5325d32f);
    overflow-x: hidden;
}

/*Sección barra - Completado*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(66, 78, 125, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(66, 78, 125, .2);
    z-index: 10;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(66, 78, 125, .4),transparent);
    transition: 0.5s;

}

.header:hover::before{
    left: 100%;
}

.logo{
    color: #FCCA6B;
    font-family: Cinzel Decorative;
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a{
    color: #FCCA6B;
    font-family: JetBrains Mono;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #FFA700;
}

/* Notificaciones */
.notificaciones {
    display: none;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
}

.notificacion-item {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.notificacion-item:last-child {
    border-bottom: none;
}

.notificacion-item p {
    margin: 0;
    font-size: 16px;
}

.notificacion-item span {
    display: block;
    font-size: 12px;
    color: #bbb;
    margin-top: 5px;
}

.navbar a .fas.fa-bell.active + .notificaciones {
    display: block;
}

/* Estilos de dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    align-items: center;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(66, 78, 125, 0.1);
    min-width: 160px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: nowrap;
}

.dropdown-content a {
    margin-right: 50px;
    color: #FCCA6B;
    padding: 12px 20px;
    font-family: JetBrains Mono;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    color: #FFA700;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Sección de Blog */
.blog-section {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* Imagen del blog */
.blog-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contenido del blog */
.blog-content {
    padding-top: 20px;
}

.blog-section h1 {
    font-size: 64px;
    color: #FCCA6B;
    margin-bottom: 20px;
    text-align: left;
    border-bottom: 2px solid #FFF;
    padding-bottom: 10px;
}

.blog-content h2 {
    color: #FCCA6B;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.blog-content p {
    color: #000;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: justify;
    border-bottom: 2px solid #FFF;
    padding-bottom: 15px;
}

.videoFinanciero {
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%;
}

.videoFinanciero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}